/*tilføjer en rød baggrund til navigations baren*/
.topnav {
	background-color: #f44336;
	overflow: hidden;
	width: 100%;
	display: inline-block;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1;
}

/*design af teksten inde i navigations baren*/
.topnav a {
	float: left;
	color: #f2f2f2;
	text-align: center;
	text-decoration: none;
	font-size: 16px;
	font-family: "helvetica";
	width: 33.33%;
	padding: 8px 0px;
	border: none;
	display: block;
	outline: 0;
	transition: background-color 1s;
}

/*skift baggrunds farve på linket når der holdes over det*/
.topnav a:hover {
	background-color: #802517;
}

/*tilføj en farve til det link der er aktivt på nuværende tidspunkt*/
.topnav a.active {
	background-color: #ddd;
	color: white;
}

/*definere padding på den container der indeholder bruger listen*/
.container {
	padding: 0.01em 16px;
}

/*definere udseende på den unordered list som indeholder brugerne*/
.ul {
	list-style-type: none;
	padding: 0;
	margin: 0
}

/*definere udseende på de items der er inde i listen*/
.ul li {
	padding: 8px 16px;
	border-bottom: 1px solid #ddd
}

/*definere udseende på den sidste item i listen*/
.ul li:last-child {
	border-bottom: none;
}

/*definere skyggen på boxen som indeholder en liste af brugere.*/
.card {
	box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2), 0 4px 20px 0 rgba(0, 0, 0, 0.19)
}

/*definere udseende på en li (liste item)*/
.bar {
	width: 100%;
	overflow: hidden;
	display: inline-block;
}

/*definere udseende på en item inde i en list item*/
.bar_item {
	padding: 8px 16px;
	float: left;
	width: auto;
	border: none;
	display: block;
	outline: 0;
}

/*definere en stor font størrelse, bruges i dette tilfælde på brugerens navn i bruger listen.*/
.large {
	font-size: 18px;
}

/*Definere billedets udseende i bruger listen*/
.image {
	width: 85px;
	border-radius: 50%
}

/*definere udseende af remove knappen i bruger listen*/
.remove {
	border: none;
	display: inline-block;
	padding: 8px 16px;
	vertical-align: middle;
	overflow: hidden;
	text-decoration: none;
	text-align: center;
	cursor: pointer;
	white-space: nowrap;
	color: #000;
	background-color: #fff;
	position: absolute;
	font-size: 24px;
	right: 24px;
	white-space: normal;
}

/*definere udseende af knappen man kan klikke på for at åbne siden for bruger oprettelse*/
.hover_button {
	right: 1.5%;
	bottom: 1.5%;
	position: fixed;
	border-radius: 8px;
	display: block;
	color: #f2f2f2;
	background-color: #f44336;
	height: 5%;
	width: 90px;
	border: none;
	cursor: pointer;
}

/*modal vinduets baggrund*/
.modal {
	/*skjult som standard*/
	display: none;
	/*forbliver på sin plads*/
	position: fixed;
	/*altid øverst*/
	z-index: 1;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	/*slår scroll til hvis nødvendigt*/
	overflow: auto;
	background-color: rgb(0, 0, 0);
	background-color: rgba(0, 0, 0, 0.4);
}

/*definere designet på div'en som indeholder modal indeholdet*/
.modal-content {
	position: relative;
	top: 10%;
	background-color: #fefefe;
	margin: auto;
	padding: 0;
	border: 1px solid #888;
	width: 80%;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	animation-name: animatetop;
	animation-duration: 0.4s
}


/*tilføjer en animation til når modal vinduet dukker op*/
@keyframes animatetop {
	from {
		top: -300px;
		opacity: 0
	}

	to {
		top: 10%;
		opacity: 1
	}
}

/*definere udseende af luk vindue knappen*/
.close {
	color: #f2f2f2;
	float: right;
	font-size: 28px;
	font-weight: bold;
}

/*definere udseendet af luk knappen når der holdes over den*/
.close:hover,
.close:focus {
	color: black;
	text-decoration: none;
	cursor: pointer;
}

/*definere udseendet af modal overskriften*/
.modal-header {
	padding: 2px 16px;
	background-color: #f44336;
	color: white;
}

/*Definere font og placering for labels på siden.*/
.label {
	font-size: 20px;
	font-family: "helvetica";
	margin-left: 8%;
}

/*Definere input box design, størrelse og placering.*/
.input {
	padding: 8px;
	display: block;
	border: none;
	border-bottom: 1px solid #ccc;
	width: 80.3333333335%;
	font-size: 16px;
	margin-top: 5px;
	margin-left: 8%;
}

/*Definere knappens design, udseende og placering.*/
.button {
	color: #fff;
	background-color: #f44336;
	border: none;
	display: inline-block;
	padding: 8px 16px;
	vertical-align: middle;
	text-align: center;
	cursor: pointer;
	border-radius: 8px;
	transition: font-size 2s;
	font-size: 30px;
	width: 83.3333333335%;
	margin-top: 5px;
	margin-left: 8%;
	transition: background-color 1s;
}

/*Definere knappens effekt når man holder hen over den.*/
.button:hover {
	background-color: #802517;
}

/*Definere knappens effekt når der trykkes på den.*/
.button:active {
	transform: translateY(1px);
}

/*definere udseende/placering af radio buttons*/
.radio_btn {
	margin-left: 8%;
}