/* Add a black background color to the top navigation */
.topnav {
    background-color: #f44336;
    overflow: hidden;
	width:100%;
	display:inline-block;
	position:fixed;
	top:0;
	left:0;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
	font-family: "helvetica";
	width: 33.33%;
	padding:8px 0px;
	border:none;
	display:block;
	outline:0;
	transition: background-color 1s;
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: #802517;
}

/* Add a color to the active/current link */
.topnav a.active {
    background-color: #ddd;
    color: white;
}

.responsiv {
	display:block;
	overflow-x:auto;
}

.table {
	border-collapse:collapse;
	border-spacing:0;
	width:100%;
	display:table;
	border:1px solid #ccc;
}

.table tr{
	text-align: center;
	border-bottom:1px solid #ddd;
}

.table tr:nth-child(odd){
	background-color:#fff
}

.table tr:nth-child(even){
	background-color:#f1f1f1
}

.table_head th{
	background-color:#2196F3;
	color:#fff;
	padding:8px 16px;
}

.hover_button{
	right: 1.5%;
	bottom: 1.5%;
	position:fixed;
	border-radius:8px;
	display:block;
	color: #f2f2f2;
	background-color: #f44336;
	height: 5%;
	width: 90px;
    border: none;
    cursor: pointer;
}

.dropdown {
	right: 1%;
	bottom: 10%;
    position: fixed;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #fff;
    min-width: 100px;
    z-index: 1;
	right:0;
}

/* Links inside the dropdown */
.dropdown-content button {
    color: #f2f2f2;
	background-color: #f44336;
	border-radius:8px;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
	min-width: 100px;
}

/* Change color of dropdown links on hover */
.dropdown-content button:hover {background-color: #802517}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    position: relative;
	top: 10%;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    animation-name: animatetop;
    animation-duration: 0.4s
}

/* Add Animation */
@keyframes animatetop {
    from {top: -300px; opacity: 0}
    to {top: 10%; opacity: 1}
}

/* The Close Button */
.close {
    color: #f2f2f2;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* Modal Header */
.modal-header {
    padding: 2px 16px;
    background-color: #f44336;
    color: white;
}

/*Definere font og placering for labels på siden.*/
.label {
	font-size: 20px;
	font-family: "helvetica";
	margin-left: 8%;
}

/*Definere input box design, størrelse og placering.*/
.input {
		padding:8px;
		display:block;
		border:none;
		border-bottom:1px solid #ccc;
		width:80.3333333335%;
		font-size: 16px;
		margin-top: 5px;
		margin-left: 8%;
}

/*Definere knappens design, udseende og placering.*/
.button {
	color:#fff;
	background-color:#f44336;
	border:none;
	display:inline-block;
	padding:8px 16px;
	vertical-align:middle;
	text-align:center;
	cursor:pointer;
	border-radius:8px;
	transition: font-size 2s;
	font-size: 30px;
	width: 83.3333333335%;
	margin-top: 5px;
	margin-left: 8%;
	transition: background-color 1s;
}

/*Definere knappens effekt når man holder hen over den.*/
.button:hover {
	background-color:#802517;
}

/*Definere knappens effekt når der trykkes på den.*/
.button:active {
	transform: translateY(1px);
}

.check {
	padding:8px;
	display:block;
	border:none;
	font-size: 16px;
	margin-top: 5px;
	margin-left: 8%;
}